@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --font-family: "Outfit", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: 1.5rem;
  text-align: center;
  background: var(--light-gray);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 32rem;
  padding: 1.5rem;
  margin: 1.5rem;
  background: var(--white);
  border-radius: 10px;
}

.card--shadow {
  box-shadow: 10px 10px 15px rgb(31, 50, 81, 0.1);
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__heading {
  color: var(--dark-blue);
  margin-top: 1.5rem;
}

.card__text {
  color: var(--grayish-blue);
  margin: 2rem;
}
